<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	{% block head %}
	<title>香港个人档案</title>
	{% endblock %}
	<!-- Main Styles -->
	<link rel="stylesheet" href="/static/styles/style-horizontal.min.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="/static/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/static/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="/static/plugin/sweet-alert/sweetalert.css">

	<!-- FlexDatalist -->
	<link rel="stylesheet" href="/static/plugin/flexdatalist/jquery.flexdatalist.min.css">

	<!-- Popover -->
	<link rel="stylesheet" href="/static/plugin/popover/jquery.popSelect.min.css">

	<!-- Select2 -->
	<link rel="stylesheet" href="/static/plugin/select2/css/select2.min.css">

	<!-- Timepicker -->
	<link rel="stylesheet" href="/static/plugin/timepicker/bootstrap-timepicker.min.css">

	<!-- Touch Spin -->
	<link rel="stylesheet" href="/static/plugin/touchspin/jquery.bootstrap-touchspin.min.css">

	<!-- Colorpicker -->
	<link rel="stylesheet" href="/static/plugin/colorpicker/css/bootstrap-colorpicker.min.css">

	<!-- Datepicker -->
	<link rel="stylesheet" href="/static/plugin/datepicker/css/bootstrap-datepicker.min.css">

	<!-- DateRangepicker -->
	<link rel="stylesheet" href="/static/plugin/daterangepicker/daterangepicker.css">

	<!-- Color Picker -->
	<link rel="stylesheet" href="/static/color-switcher/color-switcher.min.css">

	<!-- Data Tables -->
	<link rel="stylesheet" href="/static/plugin/datatables/media/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="/static/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">

	<!-- Dropify -->
	<link rel="stylesheet" href="/static/plugin/dropify/css/dropify.min.css">

	<link rel="icon" type="image/ico" sizes="16x16" href="/static/images/favicon.ico">
</head>

<body>
<header class="fixed-header">
	<div class="header-top">
		<div class="container">
			<div class="pull-left">
				<a href="/index" class="logo">香港人员档案</a>
			</div>
			<!-- /.pull-left -->
			<div class="pull-right">
				<div class="ico-item hidden-on-desktop">
					<button type="button" class="menu-button js__menu_button fa fa-bars waves-effect waves-light"></button>
				</div>
				<!-- /.ico-item hidden-on-desktop -->
				<div class="ico-item">
					<a href="#" class="ico-item fa fa-search js__toggle_open" data-target="#searchform-header"></a>
					<form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="fa fa-search button-search" type="submit"></button></form>
					<!-- /.searchform -->
				</div>
				<!-- /.ico-item -->
				<div class="ico-item fa fa-arrows-alt js__full_screen"></div>
				<!-- /.ico-item fa fa-fa-arrows-alt -->
				<div class="ico-item toggle-hover js__drop_down ">
					<span class="fa fa-th js__drop_down_button"></span>
					<div class="toggle-content">
						<ul>
							<!--li><a href="#"><i class="fa fa-github"></i><span class="txt">Github</span></a></li-->
							<li><a href="/list"><i class="fa fa-slack"></i><span class="txt">人员列表</span></a></li>
							<li><a href="/party"><i class="fa fa-bitbucket"></i><span class="txt">党派</span></a></li>
							<!--li><a href="#"><i class="fa fa-dribbble"></i><span class="txt">Dribbble</span></a></li-->
							<!--li><a href="#"><i class="fa fa-amazon"></i><span class="txt">Amazon</span></a></li-->
							<li><a href="/occupation"><i class="fa fa-dropbox"></i><span class="txt">职业</span></a></li>
						</ul>
						<a href="#" class="read-more">More</a>
					</div>
					<!-- /.toggle-content -->
				</div>
				<!-- /.ico-item -->
				<div class="ico-item">
					<a href="#" class="ico-item fa fa-envelope notice-alarm js__toggle_open" data-target="#message-popup"></a>
					<div id="message-popup" class="notice-popup js__toggle" data-space="55">
						<h2 class="popup-title">消息功能<a href="#" class="pull-right text-danger">（开发中 ）</a></h2>
						<!-- /.content -->
					</div>
					<!-- /#message-popup -->
				</div>
				<!-- /.ico-item -->
				<div class="ico-item">
					<a href="#" class="ico-item fa fa-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a>
					<div id="notification-popup" class="notice-popup js__toggle" data-space="55">
						<h2 class="popup-title">事件提醒（开发中）</h2>
						<!-- /.content -->
					</div>
					<!-- /#notification-popup -->
				</div>
				<!-- /.ico-item -->
				<div class="ico-item">
					<a href="#" class="ico-item fa fa-user js__toggle_open" data-target="#user-status"></a>
					<div id="user-status" class="user-status js__toggle">
						<a href="#" class="avatar"><img src="http://placehold.it/80x80" alt=""><span class="status online"></span></a>
						<h5 class="name"><a href="profile.html">操作员</a></h5>
						<h5 class="position">操作员</h5>
						<!-- /.name -->
						<div class="control-items">
							<div class="control-item"><a href="#" title="Settings"><i class="fa fa-gear"></i></a></div>
							<div class="control-item"><a href="#" class="js__logout" title="Log out"><i class="fa fa-power-off"></i></a></div>
						</div>
						<!-- /.control-items -->
					</div>
					<!-- /#user-status -->
				</div>
				<!-- /.ico-item -->
			</div>
			<!-- /.pull-right -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.header-top -->
	<nav class="nav-horizontal">
		<button type="button" class="menu-close hidden-on-desktop js__close_menu"><i class="fa fa-times"></i><span>CLOSE</span></button>
		<div class="container">
			
			<ul class="menu">
					<li class="current">
						<a href="/list"><i class="ico fa fa-users"></i><span>人员列表</span></a>
					</li>
					<li>
						<a href="/party"><i class="ico fa fa-cloud"></i><span>党派</span></a>
					</li>
					<li>
						<a href="/occupation"><i class="ico fa fa-magic"></i><span>职业</span></a>
					</li>
			</ul>
			<!-- /.menu -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- /.nav-horizontal -->
</header>
<!-- /.fixed-header -->

<div id="color-switcher">
	<div id="color-switcher-button" class="btn-switcher">
		<div class="inside waves-effect waves-circle waves-light">
			<i class="ico fa fa-gear"></i>
		</div>
		<!-- .inside waves-effect waves-circle -->
	</div>
	<!-- .btn-switcher -->
	<div id="color-switcher-content" class="content">
		<a href="#" data-color="red" class="item js__change_color"><span class="color" style="background-color: #f44336;"></span><span class="text">Red</span></a>
		<a href="#" data-color="violet" class="item js__change_color"><span class="color" style="background-color: #673ab7;"></span><span class="text">Violet</span></a>
		<a href="#" data-color="dark-blue" class="item js__change_color"><span class="color" style="background-color: #3f51b5;"></span><span class="text">Dark Blue</span></a>
		<a href="#" data-color="blue" class="item js__change_color active"><span class="color" style="background-color: #304ffe;"></span><span class="text">Blue</span></a>
		<a href="#" data-color="light-blue" class="item js__change_color"><span class="color" style="background-color: #2196f3;"></span><span class="text">Light Blue</span></a>
		<a href="#" data-color="green" class="item js__change_color"><span class="color" style="background-color: #4caf50;"></span><span class="text">Green</span></a>
		<a href="#" data-color="yellow" class="item js__change_color"><span class="color" style="background-color: #ffc107;"></span><span class="text">Yellow</span></a>
		<a href="#" data-color="orange" class="item js__change_color"><span class="color" style="background-color: #ff5722;"></span><span class="text">Orange</span></a>
		<a href="#" data-color="chocolate" class="item js__change_color"><span class="color" style="background-color: #795548;"></span><span class="text">Chocolate</span></a>
		<a href="#" data-color="dark-green" class="item js__change_color"><span class="color" style="background-color: #263238;"></span><span class="text">Dark Green</span></a>
		<span id="color-reset" class="btn-restore-default js__restore_default">Reset</span>
	</div>
	<!-- /.content -->
</div>
<!-- #color-switcher -->

<div id="wrapper">
	<div class="main-content container">
		<div class="row small-spacing">

    {% block content %}
    {% endblock %}
    
		</div>
		<!-- /.row small-spacing -->	

		{% block footer %}	
		<footer class="footer">
			<ul class="list-inline">
				<li>2019 © Hsiaoguo Studio.</li>
				<li>ver 1.0.1</li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
		{% endblock %}
		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="static/script/html5shiv.min.js"></script>
		<script src="static/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/scripts/jquery.min.js"></script>
	<script src="/static/scripts/modernizr.min.js"></script>
	<script src="/static/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/static/plugin/nprogress/nprogress.js"></script>
	<script src="/static/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="/static/plugin/waves/waves.min.js"></script>
	<!-- Full Screen Plugin -->
	<script src="/static/plugin/fullscreen/jquery.fullscreen-min.js"></script>

	<!-- Data Tables -->
	<script src="/static/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/static/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/static/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script src="/static/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
	<script src="/static/scripts/datatables.demo.min.js"></script>

	<!-- Dropify -->
	<script src="/static/plugin/dropify/js/dropify.min.js"></script>
	<script src="/static/scripts/fileUpload.demo.min.js"></script>

	<!-- Flex Datalist -->
	<script src="/static/plugin/flexdatalist/jquery.flexdatalist.min.js"></script>

	<!-- Popover -->
	<script src="/static/plugin/popover/jquery.popSelect.min.js"></script>

	<!-- Select2 -->
	<script src="/static/plugin/select2/js/select2.min.js"></script>

	<!-- Multi Select -->
	<script src="/static/plugin/multiselect/multiselect.min.js"></script>

	<!-- Touch Spin -->
	<script src="/static/plugin/touchspin/jquery.bootstrap-touchspin.min.js"></script>

	<!-- Timepicker -->
	<script src="/static/plugin/timepicker/bootstrap-timepicker.min.js"></script>

	<!-- Colorpicker -->
	<script src="/static/plugin/colorpicker/js/bootstrap-colorpicker.min.js"></script>

	<!-- Datepicker -->
	<script src="/static/plugin/datepicker/js/bootstrap-datepicker.min.js"></script>

	<!-- Moment -->
	<script src="/static/plugin/moment/moment.js"></script>

	<!-- DateRangepicker -->
	<script src="/static/plugin/daterangepicker/daterangepicker.js"></script>

	<!-- Maxlength -->
	<script src="/static/plugin/maxlength/bootstrap-maxlength.min.js"></script>

	<!-- Demo Scripts -->
	<script src="/static/scripts/form.demo.min.js"></script>

	<script src="/static/scripts/main.min.js"></script>
	<script src="/static/scripts/horizontal-menu.min.js"></script>
	<script src="/static/color-switcher/color-switcher.min.js"></script>
	{% block script %}
	{% endblock %}

</body>
</html>