{% extends "base.html" %}

{% block head %}
<title>香港个人档案 - 职业</title>
{% endblock %}

{% block content %}

<div class="col-xs-12">
	<div class="box-content">
		<h4 class="box-title">职业列表</h4>
		<!-- /.box-title -->
		<div class="dropdown js__drop_down">
			<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
			<ul class="sub-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else there</a></li>
				<li class="split"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
			<!-- /.sub-menu -->
		</div>
		<!-- /.dropdown js__dropdown -->
		<table id="example" class="table table-striped table-bordered display" style="width:100%">
			<thead>
				<tr>
					<th>职业名称</th>
					<th>人员数量</th>
					<th>负责人</th>
					<th>成立时间</th>
					<th>组织地点</th>
					<th>详情</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>职业名称</th>
					<th>人员数量</th>
					<th>负责人</th>
					<th>成立时间</th>
					<th>组织地点</th>
					<th>详情</th>
				</tr>
			</tfoot>
			<tbody>
				{% for item in occu_list %}
				<tr>
					<td>{% if item.occupation %} {{ item.occupation }} {% else %} 职业未录入 {% endif %}</td>
					<td>{{ item.c }}</td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td>
						<a class="btn btn-sm btn-warning" href="/occupation/{% if item.occupation %} {{ item.occupation }} {% else %} mysmwtsngzdgtd {% endif %}" role="button">人员列表</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-content -->
</div>
<!-- /.col-xs-12 -->
{% endblock %}